$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// bower:scss
// endbower

//Global
$colorBlack1:#0d0d0d;
$colorBlack2:#1e1f20;
$colorBlack3:#272829;
$colorBlack4:#222326;
$colorGray1:#4e4e4e;
$colorGray2:#949599;
$colorWhite:#fff;
$colorGold1:#887b5e;
$colorGold2:#70654e;
$colorGreenSp:#84bd00;
// Sharing
$colorFacebook:#465899;
$colorTwitter:#54c1e2;
$colorGoogle:#d84b38;
$colorMail:#216a00;
$colorShareTxt:#d9dbe6;

nav {
  z-index: 10;
  width:20%;
  height:100%;
  left: 0%;
  position:fixed;
  background: $colorBlack1;
    /*transition*/
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
   transition:all 1s ease;
  &.inactive {
    left:-20%;
  }
  .openbutton {
    width : 50px;
    height: 50px;
    background : $colorBlack1;
    position: absolute ;
    right: -50px;
  }
  ul{
    list-style: none;
    height: 100%;
    padding: 0;
    li{
      color : white;
      width : 100%;
      height: 33%;
      cursor : pointer;
    }
  }
}

.container{
  width : 80%;
  height :100%;
  left: 20%;
  position : fixed;
  z-index: 0;
  .page{
    position : relative;
    width: 100%;
    text-align :center;
    display: none;
    &.show{
      display: block;
    }
  }
}





